extend layout/base

block vars
    - var title = "Welcome"

block scripts
    script(src="/static/build/component.js")

block content
    .container
        .row
            .col-md-12
                .jumbotron
                    h1 SWP2 - Authorentool

                    p Hier entsteht das Authorentool für das Softwareprojekt 2 


