node_modules
bower_components
npm-debug.log
static/build
authorentool/static/*.html

player/SPIRIT-android/bin/SPIRIT-android.apk
player/SPIRIT-android/bin/SPIRIT-android.apk
player/SPIRIT-android/bin/dexedLibs/gdx-1.4.1-0bcffac4a8ccdd5d0ce4e16ea41304e3.jar
player/SPIRIT-android/bin/dexedLibs/gdx-backend-android-1.4.1-858fec4e20c14945bc82223fc07d001a.jar
player/SPIRIT-android/bin/jarlist.cache
player/SPIRIT-android/project.properties
*.class
*.class
player/SPIRIT-android/project.properties
*.db
player/android-support-v7-appcompat/gen/android/support/v7/appcompat/BuildConfig.java
player/SPIRIT-android/bin/dexedLibs/android-support-v4-647705a7a2a3b3aff199eaacf859206e.jar
player/SPIRIT-android/bin/dexedLibs/android-support-v7-appcompat-8d25bf44af748512e91839f24ff75d9a.jar
server/.idea
player/SPIRIT-android/bin/classes/de/hft_stuttgart/spirit/android/R$id.class
player/SPIRIT-android/bin/classes/de/hft_stuttgart/spirit/android/R$id.class
