include mixins

doctype html
block vars
html
  head
    meta(charset="utf-8")

    link(rel="icon" href="/static/favicon.png")

    link(rel="stylesheet",href="/bower/bootswatch-dist/css/bootstrap.css")
    link(rel="stylesheet",href="/static/build/main.css")
    script(src="/bower/angular/angular.js")

    title #{title} 

  body(ng-app="mainApp",ng-controller="mainCtrl")

    .navbar.navbar-default
      .container-fluid
        .navbar-header
            a.navbar-brand(href="/") Authorentool

    block content

             
    block scripts 


