fonts = helvetica, arial, sans-serif

.btnDesign
    height: 35px
    font-size: 12pt
    padding: 5px
    float: right

.column
    font-size: 12pt
body
  padding 30px 0px


#gmeg_map_canvas
    width: 80%
    height: 80%
#lightbox
  .modal-content
    display inline-block
    text-align center
  .close
    opacity: 1
    color: black
    padding: 5px 8px
    right: 0px
    z-index: 1032

