// # Styles

// small improvments for codemirror
.CodeMirror
    height: 600px
    margin-bottom: 20px

// for centering a bootstrap column
.col-centered
    float: none
    margin: 0 auto

.home-label
    position: absolute;
    right: 15px

.home-grid
    column-count: 3 
    -webkit-column-count: 3 
    -moz-column-count: 3
    line-height: 0
    column-gap:           3px;

