// # Styles

// small improvments for codemirror
.CodeMirror
    height: 600px
    margin-bottom: 20px

// for centering a bootstrap column
.col-centered
    float: none
    margin: 0 auto

.home-label
    position: absolute;
    right: 15px

.home-grid
    float:left
    width: 300px
    margin-right: 5px

    .list-group-item
        height:180px

