
.container-fluid
    .row
        .col-md-12
                ul.nav.nav-tabs(id="myTabs")
                    li(id="XMLTab")
                        a(ng-click="tabSwitch('XMLTab')", href="#XML", data-toggle="tab") XML Editor
                    li.active(id="GraEditorTab")
                        a(ng-click="tabSwitch('GraEditorTab')",href="#GraEditor", data-toggle="tab") Graphischer Editor
                    li(id="MedienBibTab")
                        a(ng-click="tabSwitch('MedienBibTab')", href="#MedienEditor", data-toggle="tab") Medienbibliothek



                .tab-content(id="myTabContent")
                    .tab-pane.fade.active.in(id="GraEditor") 
                        include ./formular.jade
                    .tab-pane.fade.active.in(id="XML", style="display:none")
                        p hallo1
                    .tab-pane.fade.active.in(id="MedienEditor", style="display:none")
                        p test

