block scripts 
    
block vars
    - var storypointCounter = 0
    - var poiCounter = 0
block content

    .container
        br
        .row(id="rowFormular",style="display: none")
            .col-md-9.column(id="colColumn")
                form.form-horizontal
                    fieldset
                        legend Storydaten
                        .form-group
                            label.col-lg-2.control-label(for="inTitel") Titel
                            .col-lg-8
                                input.form-control(type="text", id="inTitel", placeholder="Titel")

                        .form-group
                            label.col-lg-2.control-label(for="ttaDescription") Beschreibung
                            .col-lg-8
                                textarea.form-control(rows="3", id="ttaDescription", placeholder="Bitte geben Sie die Beschreibung der Story ein")

                        .form-group
                            label.col-lg-2.control-label(for="inAutor") Autor
                            .col-lg-8
                                input.form-control(type="text", id="inAutor", placeholder="Name des Autors")

                        .form-group
                            label.col-lg-2.control-label(for="inSize") Größe der Story
                            .col-lg-6
                                input.form-control(type="number", id="inSize",step="1", placeholder="Gesamte Größe der Story?")
                            .col-lg-1
                                .dropdown
                                    button#ddnsize.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Einheit
                                        span.caret 
                                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                                        li(role='presentation')
                                            a(id="ddnkb", role='menuitem', tabindex='0') KB
                                        li(role='presentation')
                                            a(id="ddnmb", role='menuitem', tabindex='1') MB
                                        li(role='presentation')
                                            a(id="ddngb", role='menuitem', tabindex='2') GB
                        .form-group
                            label.col-lg-2.control-label(for="inLatLngLocation") Ort

                            .col-lg-8
                                input.form-control( id="inLatLngLocation", placeholder="Breitengrad")
                                                        //.col-lg-4
                                                            //  input.form-control( id="LngLocation", placeholder="Längengrad")

                                #lightbox.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
                                    .modal-dialog   
                                        .modal-content
                                            .modal-body
                                                .form-group
                                                    .col-lg-6
                                                        input.form-control(id="inMapSearch", placeholder="Map GPS Suche")
                                                    .col-lg-4
                                                        button.btn.btn-primary.btn-lg.pull-primary.btnDesign(id="btnMapSearch", type="button") Suche
                                                    button.close.hidden(type='button', data-dismiss='modal', aria-hidden='true') &times;
                                                .form-group  
                                                    #gmeg_map_canvas(style='width:500px;height:400px')
                            .col-lg-2
                                button.btn.btn-primary.btn-lg.pull-primary.btnDesign(type="button", data-toggle='modal', data-target='#lightbox') Map

                        .form-group
                            label.col-lg-2.control-label(for="inRadius") Radius um den Ort
                            .col-lg-6
                                input.form-control(type="number", id="inRadius",step="1", placeholder="Umkreis?")
                            .col-lg-1
                                .dropdown
                                    button#ddnradius.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Einheit
                                        span.caret 
                                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                                        li(role='presentation')
                                            a(id="ddnme", role='menuitem', tabindex='0') Meter
                                        li(role='presentation')
                                            a(id="ddnkm", role='menuitem', tabindex='1') Kilometer

                
                form.form-horizontal(id="fhlStorypoints")
                    fieldset
                        legend Storypoints
                            .form-group(id="fgpStorypoint")
                                button.btn.btn-info.btn-lg.pull-primary.btnDesign(ng-click="storypointCounter=storypointCounter+1;getNewStorypointElement(storypointCounter)") Neuen Storypoint erstellen
                form.form-horizontal(id="fhlNeuerStorypoint", style="display: none")
                    .col-lg-1
                    fieldset
                        .form-group
                            .col-lg-10
                                legend(id="lgdNeuerStorypointFieldset") Neuer Storypoint 
                            .col-2
                                .btn-group.dropup(id="bgpControlGroup", role="group" aria-label="...")
                                    button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-success(id="btnStorypointEinklappen", type='button')
                                        span.glyphicon.glyphicon-resize-small(id="resize")
                                             
                                    button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-danger(id="btnNeuesStorypointDelete", type='button') 
                                        span.glyphicon.glyphicon-trash
                        .col-lg-1
                        fieldset(id="fstNeuesStorypointContent")
                            .form-group
                                                // ----------------------------Hier die Punkteeinstellungen
                                .col-3
                                    label.control-label Storypointeinstellungen
                                .col-lg-4
                                    .checkbox
                                        input(id="inInternet", type='checkbox', placeholder="Internet?")
                                        label(id="lblInternet", for='inInternet') Storypoint verfügt über Internet
                                .col-lg-5
                                    .checkbox
                                        input(id="inAccessable", type='checkbox', placeholder="Erreichbar?")
                                        label(id="lblAccessable", for='inAccessable') Storypoint ist erreichbar
                                
                                                // -----------------------------ENDE
                            br
                            br
                            .form-group
                                .col-lg-4
                                    label.control-label(id="lblInputStorypoint", for="inStorypoint") Storypoint
                                .col-lg-8
                                    input.form-control(type="text", id="inStorypoint", placeholder="Storypointname")


                            .form-group
                                .col-lg-4
                                    label.control-label(for="inAnchorPoint") Ort
                                .col-lg-6
                                    input.form-control(type="text", id="inAnchorPoint", placeholder="Über map realisieren?")
                                .col-lg-2
                                    button.btn.btn-primary.btn-lg.pull-primary.btnDesign(data-toggle='modal', data-target='#lightbox') Map

                                                    // ------------ANCHOR-IMAGE
                            .form-group
                                .col-lg-4
                                    label.control-label(for="inAnchorImg") Auslösebild bestimmen
                                .col-lg-6
                                    input.form-control(type="text", id="inAnchorImg", placeholder="Bild auswählen können aus Bib")
                                .col-lg-2
                                    button.btn.btn-primary.btn-lg.pull-primary.btnDesign(data-toggle='modal', data-target='#lightbox') MBib

                                                    // -------------ASSETS
                            .form-group
                                .col-lg-4
                                    label.control-label(for="inAsset") Anzeigbares Objekt
                                .col-lg-6
                                    input.form-control(type="text", id="inAsset", placeholder="Bild/Video aus Bib holen")
                                .col-lg-2
                                    button.btn.btn-primary.btn-lg.pull-primary.btnDesign(data-toggle='modal', data-target='#lightbox') MBib


                            br
                            .form-group
                                .col-lg-6
                                    label.control-label(for="interactions") Interaktion wählen
                                .col-lg-4
                                    .dropup
                                        button.btn.btn-default.dropdown-toggle(id="ddnInteractions", type='button', data-toggle='dropdown', aria-expanded='true') Interaktion 
                                            span.caret 
                                        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                                            li(role='presentation')
                                                a(role='menuitem', id="ddnChooser", tabindex='0', aria-label="Chooser", value="Chooser") Chooser
                                            li(role='presentation')
                                                a(role='menuitem', id="ddnQuiz", tabindex='1', value="Quiz") Quiz
                                            li(role='presentation')
                                                a(role='menuitem', id="ddnItem", tabindex='2', value="Item") Item
                                .col-lg-2
                                    button.btn.btn-primary.btn-lg.pull-primary.btnDesign(id="btnCreateInteraction",interactionCounter="1", type="button") Interaktion erstellen
                              
                                 // -------------------- ITEM
                            .form-group(id="fgpNeu_Item", style="display: none")
                                .col-lg-1
                                fieldset
                                    .col-lg-10
                                        legend(id="lgdNeuesItemFieldset") Neues Item 
                                    .col-lg-2
                                        .btn-group.dropup(id="bgpItemControlGroup", role="group" aria-label="...")
                                            button.btn-default.btn.btn-lg.pull-primary.btnDesign(id="btnSwitchUp", type='button')
                                                span.glyphicon.glyphicon-menu-up  
                                            button.btn-default.btn.btn-lg.pull-primary.btnDesign(id="btnSwitchDown", type='button')
                                                span.glyphicon.glyphicon-menu-down
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-success(id="btnItemEinklappen", type='button')
                                                span.glyphicon.glyphicon-resize-small(id="resize")
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-danger(id="btnItemDelete", type='button') 
                                                span.glyphicon.glyphicon-trash
                                .col-lg-1
                                fieldset(id="fstNeuesItemContent")                          
                                    .form-group
                                        .col-lg-6
                                            label.col-2.control-label(id="lblItemID", for="inItemID") Item ID
                                        .col-lg-6
                                            input.form-control(type="text", id="inItemID", placeholder="ITEM ID")
                                    .form-group
                                        .col-lg-6
                                            label.col-lg-2.control-label(id="lblItemDescription", for="inItemDescription") Beschreibung
                                        .col-lg-6
                                            input.form-control(type="text", id="inItemDescription", placeholder="ITEM Description")
                                    .form-group
                                        .col-lg-6
                                            label.col-lg-2.control-label(id="lblItemStorypointRef", for="inItemStorypointRef") StorypointRef
                                        .col-lg-6
                                            input.form-control(type="text", id="inItemStorypointRef", placeholder="ITEM STORYPOINTREF")
                                    .form-group
                                        .col-lg-6
                                        .col-lg-6
                                            .checkbox
                                                input(id="inItemIsCollected", type='checkbox', placeholder="ITEM IS COLLECTED")
                                                label(id="lblItemIsCollected", for='inItemIsCollected') Item Is Collected

                                                                            // ------------------- QUIZ
                            .form-group(id="fgpNeu_Quiz", style="display: none") 
                                .col-lg-1
                                fieldset                      
                                    .col-lg-11
                                        legend(id="lgdNeuesQuizFieldset") Neues Quiz 
                                    .col-2
                                        .btn-group.dropup(id="bgpQuizControlGroup", role="group" aria-label="...")
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-success(id="btnQuizEinklappen", type='button')
                                                span.glyphicon.glyphicon-resize-small(id="resize")
                                                 
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-danger(id="btnQuizDelete", type='button') 
                                                span.glyphicon.glyphicon-trash
                                .col-lg-1
                                fieldset(id="fstNeuesQuizContent")
                                    .form-group
                                        .col-lg-6
                                            label.col-lg-2.control-label(id="lblQuizID", for="inQuizID") Quiz ID
                                        .col-lg-6
                                            input.form-control(type="text", id="inQuizID", placeholder="Quiz ID")   
                                    .form-group
                                        .col-lg-6
                                            label.col-lg-2.control-label(id="lblQuizStorypointRef", for="inQuizStorypointRef") StorypointRef
                                        .col-lg-6
                                            input.form-control(type="text", id="inQuizStorypointRef", placeholder="QUIZ STORYPOINTREF")
                                    .form-group
                                        .col-lg-6
                                            label.col-lg-2.control-label(id="lblQuizOnTrue", for="inQuizOnTrue") Quiz OnTrue
                                        .col-lg-6
                                            input.form-control(type="text", id="inQuizOnTrue", placeholder="Quiz On True StorypointRef")
                                    .form-group
                                        .col-lg-6
                                            label.col-lg-2.control-label(id="lblQuizOnFalse", for="inQuizOnFalse") Quiz OnFalse
                                        .col-lg-6
                                            input.form-control(type="text", id="inQuizOnFalse", placeholder="Quiz On False StorypointRef")
                                    .form-group
                                        .col-lg-6
                                            label.col-lg-2.control-label(id="lblQuizQuestion", for="inQuizQuestion") Question
                                        .col-lg-6
                                            input.form-control(type="text", id="inQuizQuestion", placeholder="Quiz Question")
                                    .form-group
                                        button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-default(id="btnQuizAnswer", type='button', quizAnswerCounter="0") 
                                                span Antwort hinzufügen
                                    .form-group(id="fgpAnswer", style="display: none")
                                        .col-lg-2
                                            label.col-lg-2.control-label(id="lblQuizAnswerID", for="inQuizAnswerID") Antwort ID
                                        .col-lg-2
                                            input.form-control(type="text", id="inQuizAnswerID", placeholder="Quiz Answer ID")
                                        .col-lg-2
                                            label.col-lg-2.control-label(id="lblQuizAnswerText", for="inQuizAnswerText") Antwort Text
                                        .col-lg-4
                                            input.form-control(type="text", id="inQuizAnswerText", placeholder="Quiz Answer Text")
                                        .col-lg-2
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-danger(id="btnQuizAnswerDelete", type='button')
                                                span.glyphicon.glyphicon-trash
                                                                        // ------------------------- Chooser
                            .form-group(id="fgpNeuer_Chooser", style="display: none")
                                .col-lg-1
                                fieldset                      
                                    .col-lg-10
                                        legend(id="lgdNeuerChooserFieldset") Neuer Chooser 
                                    .col-lg-2
                                        .btn-group.dropup(id="bgpChooserControlGroup", role="group" aria-label="...")
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-success(id="btnChooserEinklappen", type='button')
                                                span.glyphicon.glyphicon-resize-small(id="resize")
                                                 
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-danger(id="btnChooserDelete", type='button') 
                                                span.glyphicon.glyphicon-trash

                                .col-lg-1
                                fieldset(id="fstNeuerChooserContent")
                                    .form-group
                                        .col-lg-6
                                            label.col-lg-2.control-label(id="lblChooserID", for="inChooserID") Quiz ID
                                        .col-lg-6
                                            input.form-control(type="text", id="inChooserID", placeholder="Chooser ID")   
                                    .form-group
                                        .col-lg-6
                                            label.col-lg-2.control-label(id="lblChooserStorypointRef", for="inChooserStorypointRef") StorypointRef
                                        .col-lg-6
                                            input.form-control(type="text", id="inChooserStorypointRef", placeholder="Chooser STORYPOINTREF")
                                    .form-group
                                        .col-lg-6
                                            label.col-lg-2.control-label(id="lblChooserQuestion", for="inChooserQuestion") Frage
                                        .col-lg-6
                                            input.form-control(type="text", id="inChooserQuestion", placeholder="Chooser Question")
                                    .form-group
                                        button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-default(id="btnChooserAnswer", type='button', ChooserAnswerCounter="0") 
                                                span Antwort hinzufügen

                                    .form-group(id="fgpChooserAnswer", style="display: none")
                                        .row
                                            .col-lg-2
                                                label.col-2.control-label(id="lblChooserAnswerID", for="inChooserAnswerID") Antwort ID
                                            .col-lg-2
                                                input.form-control(type="text", id="inChooserAnswerID", placeholder="Chooser Answer ID")
                                            .col-lg-2
                                                label.col-2.control-label(id="lblChooserAnswerText", for="inChooserAnswerText") Antwort Text
                                            .col-lg-4
                                                input.form-control(type="text", id="inChooserAnswerText", placeholder="Chooser Answer Text")
                                        .row
                                            .col-lg-2
                                                label.col-2.control-label(id="lblChooserAnswerItemRef", for="inChooserAnswerItemRef") ItemRef
                                            .col-lg-4
                                                input.form-control(type="text", id="inChooserAnswerItemRef", placeholder="Chooser Answer ItemREF")
                                            .col-lg-2
                                                label.col-2.control-label(id="lblChooserAnswerStorypointRef", for="inChooserAnswerStorypointRef") StorypointRef
                                            .col-lg-4
                                                input.form-control(type="text", id="inChooserAnswerStorypointRef", placeholder="Chooser Answer STORYPOINTREF")
                                        .col-lg-2
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-danger(id="btnChooserAnswerDelete", type='button')
                                                span.glyphicon.glyphicon-trash

                            br
                            br

            .col-lg-3.column(id="colColumn")
                            form.form-horizontal
                                fieldset
                                    legend Hilfe
                                        div(id="divHelpBox", style="outline: 1px solid black; width: 300px; min-height:100px; text-align:center;")


                            form.form-horizontal
                                fieldset
                                    legend Abhängigkeiten
                                        div(id="divDependencyBox", style="outline: 1px solid black; width: 300px; min-height:100px; text-align:center;")



                //.tab-pane.fade(id="XML")
                        p Zwei und ewig so weiter
    p   

