block vars
    - var featureCounter = 0
block content

    .container
        .row(id="createStoryRow")
            .col-md-12
                    button.btn.btn-primary.btn-lg.pull-primary(style="",ng-click="getFormulars()") Neue Story erstellen
        .row(id="Formular",style="display: none")
            .col-md-8.column(id="column")
                form.form-horizontal
                    fieldset
                        legend Storydaten
                        .form-group
                            label.col-lg-2.control-label(for="inputTitel") Titel
                            .col-lg-8
                                input.form-control(type="text", id="inputTitel", placeholder="Titel")

                        .form-group
                            label.col-lg-2.control-label(for="textAreaDescription") Beschreibung
                            .col-lg-8
                                textarea.form-control(rows="3", id="textAreaDescription", placeholder="Bitte geben Sie die Beschreibung der Story ein")

                        .form-group
                            label.col-lg-2.control-label(for"inputAutor") Autor
                            .col-lg-8
                                input.form-control(type="text", id="inputAutor", placeholder="Name des Autors")

                        .form-group
                            label.col-lg-2.control-label(for"size") Größe der Story
                            .col-lg-6
                                input.form-control(type="number", id="size",step="1", placeholder="Berechnen aus Mediendatein?")
                            .col-lg-1
                                .dropdown
                                    button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Einheit 
                                        span.caret 
                                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                                        li(role='presentation')
                                            a(role='menuitem', tabindex='0', href='#') KB
                                        li(role='presentation')
                                            a(role='menuitem', tabindex='1', href='#') MB
                                        li(role='presentation')
                                            a(role='menuitem', tabindex='2', href='#') GB
                        .form-group
                            label.col-lg-2.control-label(for"location") Ort
                            .col-lg-8
                                input.form-control(type="date", id="location", placeholder="Mittels Map?")


                        button.btn.btn-primary.btn-lg.pull-primary.btnDesign(id="btnFeature", style="",ng-click="featureCounter=featureCounter+1;getNewFeatureElement(featureCounter)") Neues Feature erstellen
                form.form-horizontal(id="NeuesFeature", style="display: none")
                    fieldset
                        legend Storydaten
                            .form-group
                                .col-lg-4
                                    label.col-lg-2.control-label(for="inputFeature") Feature
                                .col-lg-8
                                    input.form-control(type="text", id="inputFeature", placeholder="Featurename")
                            .form-group
                                .col-lg-4
                                    label.col-lg-2.control-label(for="anchorPoint") Ort
                                .col-lg-8
                                    input.form-control(type="text", id="anchorPoint", placeholder="Über map realisieren?")
                            .form-group
                                .col-lg-4
                                    label.col-lg-2.control-label(for="anchorImg") Auslösebild bestimmen
                                .col-lg-8
                                    input.form-control(type="text", id="anchorImg", placeholder="Bild auswählen können aus Bib")
                            .form-group
                                .col-lg-10
                                    label.col-lg-2.control-label(for="interactions") Interaktion wählen
                                .col-lg-2
                                    .dropup
                                        button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Interaktion 
                                            span.caret 
                                        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                                            li(role='presentation')
                                                a(role='menuitem', tabindex='0', href='#') WayChooser
                                            li(role='presentation')
                                                a(role='menuitem', tabindex='1', href='#') Quiz
                                            li(role='presentation')
                                                a(role='menuitem', tabindex='2', href='#') Item
                                
                                

            .col-md-4
                .page-header
                    h3 Media Library

                //.tab-pane.fade(id="XML")
                        p Zwei und ewig so weiter
    p   
block scripts 

