block vars
    - var featureCounter = 0
    - var poiCounter = 0
block content

    .container
        .row(id="createStoryRow")
            .col-md-12
                    button.btn.btn-primary.btn-lg.pull-primary(style="",ng-click="getFormulars()") Neue Story erstellen
        .row(id="Formular",style="display: none")
            .col-md-8.column(id="column")
                form.form-horizontal
                    fieldset
                        legend Storydaten
                        .form-group
                            label.col-lg-2.control-label(for="inputTitel") Titel
                            .col-lg-8
                                input.form-control(type="text", id="inputTitel", placeholder="Titel")

                        .form-group
                            label.col-lg-2.control-label(for="textAreaDescription") Beschreibung
                            .col-lg-8
                                textarea.form-control(rows="3", id="textAreaDescription", placeholder="Bitte geben Sie die Beschreibung der Story ein")

                        .form-group
                            label.col-lg-2.control-label(for"inputAutor") Autor
                            .col-lg-8
                                input.form-control(type="text", id="inputAutor", placeholder="Name des Autors")

                        .form-group
                            label.col-lg-2.control-label(for"size") Größe der Story
                            .col-lg-6
                                input.form-control(type="number", id="size",step="1", placeholder="Berechnen aus Mediendatein?")
                            .col-lg-1
                                .dropdown
                                    button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Einheit
                                        span.caret 
                                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                                        li(role='presentation')
                                            a(role='menuitem', tabindex='0', href='#') KB
                                        li(role='presentation')
                                            a(role='menuitem', tabindex='1', href='#') MB
                                        li(role='presentation')
                                            a(role='menuitem', tabindex='2', href='#') GB
                        .form-group
                            label.col-lg-2.control-label(for"location") Ort
                            .col-lg-8
                form.form-horizontal(id="POIS")
                    fieldset
                        legend POIs
                            .form-group(id="btnPOIS")
                                button.btn.btn-primary.btn-lg.pull-primary.btnDesign(ng-click="poiCounter=poiCounter+1;getNewPoiElement(poiCounter)") Neuen POI erstellen
                form.form-horizontal(id="NeuerPOI", style="display: none")
                    fieldset
                        .form-group
                            label.col-lg-2.control-label(for"inputPOI") POI
                            .col-lg-8
                                input.form-control(type="text", id="inputPOI", placeholder="POI ID")
                            .col-lg-6
                                label.col-lg-2.control-label POI Einstellungen
                            .col-lg-6
                                .checkbox
                                    input(id="inputAccessable", type='checkbox', placeholder="POI Erreichbar")
                                    label(id="lblAccessable", for='inputAccessable') POI Erreichbar
                                .checkbox
                                    input(id="inputInternet", type='checkbox', placeholder="POI Internet")
                                    label(id="lblInternet", for='inputInternet') POI Internet
                
                form.form-horizontal(id="Features")
                    fieldset
                        legend Features
                            .form-group(id="btnFeature")
                                button.btn.btn-primary.btn-lg.pull-primary.btnDesign(ng-click="featureCounter=featureCounter+1;getNewFeatureElement(featureCounter)") Neues Feature erstellen
                form.form-horizontal(id="NeuesFeature", style="display: none")         
                    fieldset
                        .form-group                        
                            .col-lg-10
                                legend(id="NeuesFeatureFieldset") Neues Feature 
                            .col-lg-2
                                .btn-group.dropup(id="btnControlGroup", role="group" aria-label="...")
                                    button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-success(id="btnFeatureEinklappen", type='button')
                                        span.caret
                                             
                                    button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-danger(id="btnNeuesFeatureDelete", type='button') 
                                        span Löschen
                        fieldset(id="NeuesFeatureContent")
                            .form-group
                                .col-lg-4
                                    label.col-lg-2.control-label(id="lblInputFeature", for="inputFeature") Feature
                                .col-lg-8
                                    input.form-control(type="text", id="inputFeature", placeholder="Featurename")
                            .form-group
                                .col-lg-4
                                    label.col-lg-2.control-label(for="anchorPoint") Ort
                                .col-lg-8
                                    input.form-control(type="text", id="anchorPoint", placeholder="Über map realisieren?")
                            .form-group
                                .col-lg-4
                                    label.col-lg-2.control-label(for="anchorImg") Auslösebild bestimmen
                                .col-lg-8
                                    input.form-control(type="text", id="anchorImg", placeholder="Bild auswählen können aus Bib")
                            .form-group
                                .col-lg-6
                                    label.col-lg-2.control-label(for="interactions") Interaktion wählen
                                .col-lg-4
                                    .dropup
                                        button.btn.btn-default.dropdown-toggle(id="ddnInteractions", type='button', data-toggle='dropdown', aria-expanded='true') Interaktion 
                                            span.caret 
                                        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                                            li(role='presentation')
                                                a(role='menuitem', id="ddnWayChooser", tabindex='0', aria-label="WayChooser", value="WayChooser") WayChooser
                                            li(role='presentation')
                                                a(role='menuitem', id="ddnQuiz", tabindex='1', value="Quiz") Quiz
                                            li(role='presentation')
                                                a(role='menuitem', id="ddnItem", tabindex='2', value="Item") Item
                                .col-lg-2
                                    button.btn.btn-primary.btn-lg.pull-primary.btnDesign(id="btnCreateInteraction",interactionCounter="1", type="button") Interaktion erstellen

                            .form-group(id="Neu_Item", style="display: none") 
                                fieldset                      
                                    .col-lg-10
                                        legend(id="NeuesItemFieldset") Neues Item 
                                    .col-lg-2
                                        .btn-group.dropup(id="btnItemControlGroup", role="group" aria-label="...")
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-success(id="btnItemEinklappen", type='button')
                                                span.caret
                                                 
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-danger(id="btnItemDelete", type='button') 
                                                span Löschen  
                                fieldset(id="NeuesItemContent")                          
                                    .form-group
                                        .col-lg-8
                                            label.col-lg-2.control-label(id="lblItemID", for="itemID") Item ID
                                        .col-lg-4
                                            input.form-control(type="text", id="itemID", placeholder="ITEM ID")
                                    .form-group
                                        .col-lg-8
                                            label.col-lg-2.control-label(id="lblItemDescription", for="itemDescription") Beschreibung
                                        .col-lg-4
                                            input.form-control(type="text", id="itemDescription", placeholder="ITEM Description")
                                    .form-group
                                        .col-lg-8
                                            label.col-lg-2.control-label(id="lblItemFeatureRef", for="itemFeatureRef") FeatureRef
                                        .col-lg-4
                                            input.form-control(type="text", id="itemFeatureRef", placeholder="ITEM FEATUREREF")
                                    .form-group
                                        .col-lg-8
                                        .col-lg-4
                                            .checkbox
                                                input(id="itemIsCollected", type='checkbox', placeholder="ITEM IS COLLECTED")
                                                label(id="lblItemIsCollected", for='itemIsCollected') Item Is Collected
                            .form-group(id="Neu_Quiz", style="display: none") 
                                fieldset                      
                                    .col-lg-10
                                        legend(id="NeuesQuizFieldset") Neues Quiz 
                                    .col-lg-2
                                        .btn-group.dropup(id="btnQuizControlGroup", role="group" aria-label="...")
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-success(id="btnQuizEinklappen", type='button')
                                                span.caret
                                                 
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-danger(id="btnQuizDelete", type='button') 
                                                span Löschen  
                                fieldset(id="NeuesQuizContent")
                                    .form-group
                                        .col-lg-8
                                            label.col-lg-2.control-label(id="lblQuizID", for="quizID") Quiz ID
                                        .col-lg-4
                                            input.form-control(type="text", id="quizID", placeholder="Quiz ID")   
                                    .form-group
                                        .col-lg-8
                                            label.col-lg-2.control-label(id="lblQuizFeatureRef", for="quizFeatureRef") FeatureRef
                                        .col-lg-4
                                            input.form-control(type="text", id="quizFeatureRef", placeholder="QUIZ FEATUREREF")
                                    .form-group
                                        .col-lg-8
                                            label.col-lg-2.control-label(id="lblQuizOnTrue", for="quizOnTrue") Quiz OnTrue
                                        .col-lg-4
                                            input.form-control(type="text", id="quizOnTrue", placeholder="Quiz On True FeatureRef")
                                    .form-group
                                        .col-lg-8
                                            label.col-lg-2.control-label(id="lblQuizOnFalse", for="quizOnFalse") Quiz OnFalse
                                        .col-lg-4
                                            input.form-control(type="text", id="quizOnFalse", placeholder="Quiz On False FeatureRef")
                                    .form-group
                                        .col-lg-8
                                            label.col-lg-2.control-label(id="lblQuizQuestion", for="quizQuestion") Question
                                        .col-lg-4
                                            input.form-control(type="text", id="quizQuestion", placeholder="Quiz Question")
                                    .form-group
                                        button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-default(id="btnQuizAnswer", type='button', quizAnswerCounter="0") 
                                                span Antwort hinzufügen
                                    .form-group(id="Answer", style="display: none")
                                        .col-lg-2
                                            label.col-lg-2.control-label(id="lblQuizAnswerID", for="quizAnswerID") Antwort ID
                                        .col-lg-2
                                            input.form-control(type="text", id="quizAnswerID", placeholder="Quiz Answer ID")
                                        .col-lg-2
                                            label.col-lg-2.control-label(id="lblQuizAnswerText", for="quizAnswerText") Antwort Text
                                        .col-lg-4
                                            input.form-control(type="text", id="quizAnswerText", placeholder="Quiz Answer Text")
                                        .col-lg-2
                                            button.btn.btn-primary.btn-lg.pull-primary.btnDesign.btn-danger(id="btnQuizAnswerDelete", type='button')
                                                span Löschen
            .col-md-4
                .page-header
                    h3 Media Library

                //.tab-pane.fade(id="XML")
                        p Zwei und ewig so weiter
    p   
block scripts 

