// # Main Website

// extends the base template
extend layout/base

block vars
    - var title = "Storytellar - Autorentool"

block scripts
    script(src="build/main.js")

block content
    div(ng-view)
