block vars

block scripts

block content
    #medienLightbox.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog   
            .modal-content
                .modal-body
                    .form-group  
                        button.close.hidden(type='button', data-dismiss='modal', aria-hidden='true') &times;
                        #medienBib(style='width:500px;height:400px')
                            .col-md-4
                                .row
                                    .col-md-12
                                        .page-header
                                            h3 Media Library
                                .row
                                    .col-md-12
                                        table.table.table-striped.table-hover
                                            thead
                                                tr
                                                    th Name 
                                                    th Type
                                                    th Action
                                            tbody
                                                tr(ng-repeat="obj in mediaData")
                                                    td {{ obj.name }}
                                                    td 
                                                        span.label.label-default {{ obj.type }}
                                                    td
                                                        button.btn.btn-success.btn-xs(style="margin-right:5px") Show 
                                                        button.btn.btn-danger.btn-xs Delete 
